---
import Base from "../../layouts/main.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const posts = await getCollection("en");
const locale = Astro.currentLocale;

posts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.createdTime) -
    Date.parse(a.frontmatter.createdTime),
);

const latestPost = posts.shift();

const postImages = import.meta.glob(
  "/src/assets/blog/**/*.{jpeg,jpg,png,gif,webp}",
);
---

<Base title="Blog posts" desc="Some posts written by me">
  <p class="pb-6 pt-4 text-3xl font-extrabold md:text-4xl">Posts</p>

  <a href={getRelativeLocaleUrl(locale, `/blog/${latestPost.slug}`)}>
    <div
      class="flex flex-col gap-6 rounded-lg border border-gray-600 bg-gray-800 p-5 transition-colors duration-200 hover:border-gray-200 md:flex-row"
    >
      <div class="md:basis-5/12 md:py-4">
        <Image
          src={postImages[latestPost.data.image]()}
          alt={`Cover for post ${latestPost.data.title}, read this post for more infomation`}
          class="mx-auto h-72 min-w-full rounded-md object-cover"
        />
      </div>
      <div class="py-4 md:basis-7/12">
        <p class="text-md pb-1 text-gray-300/85 md:text-lg">
          Latest Post:
        </p>
        <p class="pb-3 text-2xl font-bold md:text-3xl">
          {latestPost.data.title}
        </p>
        <p class="text-md md:text-lg">
          {latestPost.data.description}
        </p>
      </div>
    </div>
  </a>

  <div
    class="grid grid-flow-row grid-cols-1 content-start gap-7 md:grid-cols-2"
  >
    {
      posts.map((item) => (
        <a
          href={getRelativeLocaleUrl(locale, `/blog/${item.slug}`)}
          data-astro-prefetch
        >
          <div
            class="max-h-xl w-full rounded-md border-2 border-emerald-400 bg-gray-800 p-4 duration-300 hover:bg-emerald-400 hover:text-gray-800"
            transition:name={`${item.data.title} container`}
            transition:animate="none"
          >
            <p class="text-2xl font-bold">{item.data.title}</p>
            <p class="pt-4 text-lg">{item.data.description}</p>
            <Image
              src={postImages[item.data.image]()}
              alt={`Cover for post ${item.data.title}, read this post for more infomation`}
              class="mx-auto mt-4 h-auto max-h-80 w-auto rounded-md"
            />
          </div>
        </a>
      ))
    }
  </div>
</Base>
