---
import Base from "../../layouts/main.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const posts = await getCollection("en");
const locale = Astro.currentLocale;

const postImages = import.meta.glob(
  "/src/assets/blog/**/*.{jpeg,jpg,png,gif,webp}",
);
---

<Base title="Blog posts" desc="Some posts written by me">
  <p class="text-4xl font-extrabold py-4">Posts</p>

  <div
    class="grid grid-cols-1 md:grid-cols-2 grid-flow-row content-start gap-7"
  >
    {
      posts.map((item) => (
        <a
          href={getRelativeLocaleUrl(locale, `/blog/${item.slug}`)}
          data-astro-prefetch
        >
          <div
            class="w-full max-h-xl border-emerald-400 hover:bg-emerald-400 hover:text-gray-800 border-2 p-4 duration-300"
            transition:name={`${item.data.title} container`}
            transition:animate="none"
          >
            <p class="text-2xl font-bold">{item.data.title}</p>
            <p class="text-lg pt-4">{item.data.description}</p>
            <Image
              src={postImages[item.data.image]()}
              alt={`Cover for post ${item.data.title}, read this post for more infomation`}
              class="max-h-80 w-auto h-auto mx-auto mt-4 rounded-lg"
            />
          </div>
        </a>
      ))
    }
  </div>
</Base>
