---
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";
import strings from "../i18n/strings.js";

const t = strings.card[Astro.currentLocale];
const {
  className,
  title,
  description,
  link,
  linkDescription,
  target,
  icons,
  pointerClass,
} = Astro.props
---

<div>
  <div class="duration-150">
    <a href={link} target={target ?? "_self"} class="w-fit">
      <div
        class={twMerge(
          "px-5 py-5 w-fit bg-gray-800 border-2 border-emerald-200 border-solid hover:bg-emerald-200 hover:text-gray-800 !duration-300",
          className,
        )}
      >
        <div class="min-h-72 md:min-h-64 grid">
          <div>
            <div class="grid grid-flow-col">
              <p
                class="text-xl place-self-start font-bold my-auto md:text-2xl"
              >
                {title}
              </p>
              <div class="place-self-end text-xl md:text-3xl">
                {
                  icons.map((i) => (
                    <Icon
                      name={i.icon}
                      class={twMerge("inline mx-2", className)}
                    />
                  ))
                }
              </div>
            </div>
            <p class="text-md md:text-xl py-4">{description}</p>
          </div>
          <div class="place-self-end w-full text-sm">
            {t.link}{" "}
            <span class="font-bold">{linkDescription}</span>
            <Icon
              name="material-symbols:arrow-forward-rounded"
              class="mx-2 inline"
            />
          </div>
        </div>
      </div>
    </a>
  </div>

  <div
    class={twMerge(
      "hidden w-32 h-32 bg-emerald-400 rounded-full blur-2xl -z-10",
      pointerClass,
    )}
  >
  </div>
</div>
