---
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";
const { className, title, desc, link, linkName, target, icons } =
  Astro.props;
---

<div>
  <a href={link} target={target ?? "_self"} class="w-fit">
    <div
      class={twMerge(
        `px-5 py-5 w-fit bg-gray-800 border-2 border-emerald-200 border-solid hover:bg-emerald-200 hover:text-gray-800 duration-300`,
        className,
      )}
    >
      <div class="min-h-72 md:min-h-64 grid">
        <div>
          <div class="grid grid-flow-col">
            <p
              class="text-xl place-self-start font-bold my-auto md:text-2xl"
            >
              {title}
            </p>
            <div class="place-self-end text-xl md:text-3xl">
              {
                icons.map((i) => (
                  <Icon
                    name={i.icon}
                    class={`inline mx-2 ${i.className}`}
                  />
                ))
              }
            </div>
          </div>
          <p class="text-md md:text-xl py-4">{desc}</p>
        </div>
        <div class="place-self-end w-full text-sm">
          Click here to go to <span class="font-bold">{linkName}</span
          >
          <Icon
            name="material-symbols:arrow-forward-rounded"
            class="inline"
          />
        </div>
      </div>
    </div>
  </a>
</div>
