---
import "@fontsource-variable/jetbrains-mono";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Noscript from "../components/Noscript.astro";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import { SEO } from "astro-seo";
import strings from "../i18n/strings";

dayjs.extend(utc);
dayjs.extend(timezone);

let frontmatter = Astro.props.frontmatter,
  pluginFrontmatter = Astro.props.pluginFrontmatter;

const lastModified = dayjs(pluginFrontmatter.lastModified)
  .tz("Asia/Taipei")
  .format("YYYY/MM/DD hh:mm A");

const postImages = import.meta.glob(
  "/src/assets/blog/**/*.{jpeg,jpg,png,gif,webp}",
);

const localeCode = Astro.currentLocale === "en" ? "en_US" : "zh_Hant";
const t = strings.blog[Astro.currentLocale];
---

<html
  lang={Astro.currentLocale === "en" ? "en" : "zh-Hant"}
  transition:animate="fade"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{`${frontmatter.title} - Wolf Yuan`}</title>
    <SEO
      description={frontmatter.description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: frontmatter.description,
          type: "article",
          image: frontmatter.ogImage,
        },
        optional: {
          locale: localeCode,
          localeAlternate: ["en_US", "zh_Hant"],
        },
        article: {
          publishedTime: pluginFrontmatter.createdTime,
          modifiedTime: pluginFrontmatter.lastModified,
          authors: frontmatter.authors,
          tags: frontmatter.tags,
        },
      }}
      twitter={{
        title: frontmatter.description,
        card: "summary_large_image",
        site: "@wolfyuan1135",
      }}
    />
    <link rel="me" href="https://mastodon.wolf-yuan.dev/@wolf" />

    <ViewTransitions />
  </head>
  <body class="bg-gray-900 text-gray-50 flex flex-col h-full">
    <Nav />
    <div class="sm:max-w-6xl mx-auto sm:px-7">
      <div
        class="relative overflow-hidden sm:rounded-xl bg-center bg-no-repeat bg-cover mx-auto w-full pt-[40%] sm:pt-[30%] z-[5] mb-4 before:sm:rounded-xl before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-t before:from-gray-900 before:from-20% before:to-transparent before:opacity-80 before:z-[-5]"
      >
        <Image
          src={postImages[frontmatter.image]()}
          alt={`Cover for article ${frontmatter.title}`}
          class="absolute top-0 left-0 w-full h-full z-[-10] pointer-events-none object-cover"
          loading="eager"
        />
        <div class="px-8 py-6">
          <h1 class="py-4 text-3xl font-extrabold md:text-4xl">
            {frontmatter.title}
          </h1>
          <p class="py-2 text-lg text-gray-300 md:text-xl">
            {frontmatter.description}
          </p>
          <p class="py-2 text-md text-gray-400 md:text-lg">
            {t["modified"]}{lastModified}
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-6xl mx-auto my-0 mb-auto">
      <div class="mx-7">
        <slot />
      </div>
    </div>

    <Footer />
    <Noscript />

    {/* Hacky way to fix scrollbar theme */}
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </body>
</html>
